<!-- ===== Start of Candidate Profile Header Section ===== -->
<section class="profile-header">
</section>
<!-- ===== End of Candidate Header Section ===== -->





<!-- ===== Start of Main Wrapper Candidate Profile Section ===== -->
<section class="pb80" id="candidate-profile">
    <div class="container">

        <!-- Start of Row -->
        <div class="row candidate-profile">

            <!-- Start of Profile Picture -->
            <div class="col-md-3 col-xs-12">
                <div class="profile-photo">
                    <ng-image-slider [images]="alcalde" [showArrow]=false></ng-image-slider>
                </div>

                <!-- Start of Social Media Buttons -->
                <ul class="social-btns list-inline text-center mt20">
                    <!-- Social Media -->
                    <li>
                        <a [routerLink]="['/inicio']" routerLinkActive="active" class="social-btn-roll facebook transparent">
                            <div class="social-btn-roll-icons">
                                <i class="social-btn-roll-icon fa fa-facebook"></i>
                                <i class="social-btn-roll-icon fa fa-facebook"></i>
                            </div>
                        </a>
                    </li>

                    <!-- Social Media -->
                    <li>
                        <a [routerLink]="['/inicio']" routerLinkActive="active" class="social-btn-roll twitter transparent">
                            <div class="social-btn-roll-icons">
                                <i class="social-btn-roll-icon fa fa-twitter"></i>
                                <i class="social-btn-roll-icon fa fa-twitter"></i>
                            </div>
                        </a>
                    </li>

                    <!-- Social Media -->
                    <li>
                        <a [routerLink]="['/inicio']" routerLinkActive="active" class="social-btn-roll google-plus transparent">
                            <div class="social-btn-roll-icons">
                                <i class="social-btn-roll-icon fa fa-google-plus"></i>
                                <i class="social-btn-roll-icon fa fa-google-plus"></i>
                            </div>
                        </a>
                    </li>

                    <!-- Social Media -->
                    <li>
                        <a [routerLink]="['/inicio']" routerLinkActive="active" class="social-btn-roll instagram transparent">
                            <div class="social-btn-roll-icons">
                                <i class="social-btn-roll-icon fa fa-instagram"></i>
                                <i class="social-btn-roll-icon fa fa-instagram"></i>
                            </div>
                        </a>
                    </li>


                </ul>
                <!-- End of Social Media Buttons -->

            </div>
            <!-- End of Profile Picture -->

            <!-- Start of Profile Description -->
            <div class="col-md-9 col-xs-12">
                <div class="profile-descr">

                    <!-- Profile Title -->
                    <div class="profile-title">
                        <h2 class="capitalize">Jose David Cura</h2>
                        <h5 class="pt10">Alcalde</h5>
                    </div>

                    <!-- Profile Details -->
                    <div class="profile-details mt20">
                        <div>
                            <h5>Misión</h5>
                            <br>
                        </div>
                        <p>El Gobierno de la Gente, es gobernar responsablemente al Municipio, trabajando con transparencia, dando importancia a las demandas ciudadanas, desarrollando acciones de cuidado al medio ambiente, garantizando los servicios necesarios
                            para el mejoramiento de la calidad de vida de sus habitantes y asegurando el desarrollo de las futuras generaciones.</p>
                        <br>
                        <div>
                            <h5>Objetivo</h5>
                            <br>
                        </div>
                        <p>Mejorar la calidad de vida de la población en torno al desarrollo agrícola, a una adecuada cobertura educativa y a una gestión socio-ambiental responsable, que de manera integral se convierta en una plataforma para iniciar el desarrollo
                            sostenible del municipio.</p>
                        <br>
                    </div>

                    <ul class="profile-info mt20 nopadding">
                        <li>
                            <i class="fa fa-map-marker"></i>
                            <span>Montelibano,Cordoba</span>
                        </li>

                        <li>
                            <i class="fa fa-globe"></i>
                            <a href="www.montelibano-cordoba.gov.co/Alcalde"> Alcalde</a>
                        </li>

                        <li>
                            <i class="fa fa-phone"></i>
                            <span>(094) 762 7455</span>
                        </li>

                        <li>
                            <i class="fa fa-envelope"></i>
                            <a [routerLink]="['/inicio']" routerLinkActive="active">alcaldia@montelibano-cordoba.gov.co</a>
                        </li>
                    </ul>

                </div>
            </div>
            <!-- End of Profile Description -->

        </div>
        <!-- End of Row -->


        <!-- Start of Row -->
        <div class="row skills mt40">

            <div class="col-md-12 text-center">
                <h3 class="pb40">Funciones</h3>
            </div>

            <!-- Start of Skill Bars Wrapper -->
            <div class="col-md-6 col-xs-12 mt20">
                <p><span style="font-weight: bold; ">1. </span>Cumplir y hacer cumplir la Constitución, la ley, los decretos del gobierno, las Ordenanzas y los Acuerdos en el municipio.</p>
                <p><span style="font-weight: bold; ">2. </span>Conservar el orden público en el Municipio, de conformidad con la ley, las instituciones y órdenes que reciba del Presidente de la República y del Gobernador.</p>
                <p><span style="font-weight: bold; ">3. </span>Presentar proyectos, planes y programas para la buena marcha del Municipio..</p>

            </div>
            <!-- End of Skill Bars Wrapper -->


            <!-- Start of Skill Bars Wrapper -->
            <div class="col-md-6 col-xs-12 mt20">
                <p><span style="font-weight: bold; ">4. </span>Dirigir la acción administrativa del Municipio; asegurar el cumplimiento de las funciones y la prestación de servicios a su cargo; representarlo judicial y extrajudicialmente; Nombrar y remover
                    a los funcionarios bajo su dependencia y a los gerentes o directores de los establecimientos públicos y las empresas industriales o comerciales de carácter local, de acuerdo con las disposiciones pertinentes.</p>
                <p><span style="font-weight: bold; ">5. </span>Garantizar la oportuna información a la ciudadanía del desarrollo de su gestión.</p>
                <p><span style="font-weight: bold; ">6 </span>Las demás que la Constitución y la ley le señalen.</p>

            </div>
            <!-- End of Skill Bars Wrapper -->

        </div>
        <!-- End of Row -->

    </div>
</section>
<!-- ===== End of Candidate Profile Section ===== -->