<div class="clearfix"></div>
<div class="clearfix"></div>
<br>
<section class="section-side-image section-light-stone clearfix colorm" style="box-shadow: 0px 11px 18px 4px;  background:#F7F7F7;">

    <div class="row col-xs-offset-1 mont">
        <div class="container   col-xl-12">
            <h4 class="uppercase">Montelibano</h4>
        </div>

        <div class="containe col-sm-5  ayuda ">
            <div>
                <h5>Símbolos</h5>
                <br>
            </div>
            <div class="col-sm-6 col-md-3">
                <img src="../../../../assets/images/escudo.png" alt="" class="img-responsive " />
                <h6 class="">Escudo</h6>
            </div>
            <div class="col-sm-6 col-md-4 ">
                <img src="../../../../assets/images/bandera.png" alt="" class="img-responsive " />
                <h6 class=" ">Bandera</h6>
            </div>
            <p></p>
            <br>
        </div>
        <div class="col-md-5 col-sm-1 ayuda  more ">
            <div>
                <h5>Historia</h5>
                <br>
            </div>
            <p><span> Nombre del/los fundador (es) : </span>Anastasio Sierra Palmett</p>
            <p><span>  PUERTO DE LOS TOTUMOS  </span></p>


            <p>Transcurría parsimonisio el año 1863. La policromía selvática del San Jorge era como bordados inmovibles, en un fondo celeste vírginaceo y opalino. La luz acariciaba los follajes, y toda su espesura era solemne como todas las grandes selvas
                como las almas de los colonos. La virginal quietud de la selva inviolada hacia un silencio religioso y el universo ponía un beso húmedo, pluvial. El río San Jorge era la arteria fluvial del comercio, por él se transportaba toda clase de
                cachivaches y el sustento básico de los ribereños, como la sal, telas, cáñamo, tabaco, dulces, instrumentos de labranzas y otros enseres para cocinar y negocios. También cosas de utilidad para los campesinos y se sacaba los productos que
                se obtenían de la región, que eran llevados a Magangue y Barranquilla tales como: pieles, maderas, aves, balato, maíz, arroz, bagre seco y escuerado y otros. Entonces el tráfico fluvial era lento. Pues se viajaba en canoas de bahareque,
                que por lo general eran grandes y entoldadas para transportar los pasajeros y víveres de comercio y para protegerse del sol y la lluvia. Estas canoas eran impulsadas con expertos en puya jala o a veces eran dos los que impulsaban alternando
                el tiro o el arranque en un vaivén constante. En estos viajes por el río San Jorge, habían sitios establecidos como jornadas de descanso uno de estos sitios o Jornadas se llamó Puerto de Los Totumos, llamado así por la abundancia de palos
                que allí habían y se mantuvieron hasta los años 50’s. Este lugar es hoy la gasolinera del río donde está el planchón. </p>
            <p>EL FUNDADOR DE MONTELIBANO LLEGA A NUESTRA REGIÓN</p>
            <p>Anastasio Sierra Palmett era de Corozal, barrio San José, sus padres Inocencio Sierra y Rosa Paulina Palmeft, era gente muy pobre, esto hizo que Anastasio decidiera viajar a Magangue en busca de mejor vida; en Magangue empezó a trabajar como
                bracero y allí conoció a unos negociantes que periódicamente viajaban al alto San Jorge en canoas de bahareque y estos lo contrataron como ayudante de puya jala, pero su ambición no tanto era la de trabajar allí, él era un sembrador de
                yuca, maíz y arroz, él era un sembrador de auroras y de constelaciones, por eso tenía las atragantadas ganas de conocer esas tierras feraces y libres de que ya le habían hablado, en el medio y alto San Jorge. La historia Jurídica de la
                población de Montelibano fue el resultado de la influencia de diversos acontecimientos. Uno de ellos es la creación del departamento de Córdoba por la ley 9 de 1951, la cual fue reglamentada el 18 de Junio de 1952 con el decreto 1302.
                De inmediato comenzó a regir el Departamento de Córdoba, cuyo nombre se le da en honor al General José Maria Córdova, teniendo como Gobernador interino al Doctor Remberto Burgos Puche, por entonces Presidente de la junta organizadora.
                Dos meses después el 18 de Agosto del mismo año, fue nombrado el primer Gobernador en propiedad, el Doctor Manuel Antonio Buelvas. Esto fue fundamental para el progreso y el desarrollo de las poblaciones que lo integran; de manera que
                poco después empieza a tener lugar la controvertida creación del Municipio de Montelibano, cuyo inicio se perfila en el decreto 182 del 11 de abril de 1953. El anterior decreto estaba refrendado con las firmas y sellos de las autoridades
                competentes, sin embargo para contratiempo de su ejecución surgen varios imprevistos. El primero de ellos el estado de sitio en que se encontraba el país, crisis que se venia dando de tiempo atrás a raíz del asesinato de JORGE Eliécer
                Gaitan el 9 de abril de 1948. Segundo: en el trascurso del mes de mayo de 1953 guerrilla y oposición presionaron con mayor fuerza al Gobierno, lo que dio cabida para que el 13 de junio el General Gustavo Rojas Pinilla encabezara al ejército
                en el golpe de estado que derroco a Gómez. Ante este Gobierno de dictadura el ejercicio de la democracia se disminuye; la remoción de Gobernadores fue inminente y entonces Manuel Antonio Buelvas abandonó ese cargo en el Departamento de
                Córdoba y en su reemplazo fue nombrado Miguel García Sánchez. Todos estos hechos son causa que llevan al decreto 182 a un estado de inercia.
            </p>
            <br>

        </div>

        <div class="col-md-5 col-sm-1  ayuda ">
            <div>
                <h5>Geografía</h5>
                <br>
            </div>
            <p><span>Descripción Física </span></p>
            <p> Montelíbano se encuentra situado a los 7º 59’ 13" de Latitud Norte y a 75º 25’ 30" de LongitudOeste. Localizado en la parte sur del Departamento de Córdoba y a unos 55 msnm, distante de la capital del departamento 112 km La temperatura promedio
                es de 28 ºC, el área urbana se encuentra en la zona de vida de bosque húmedo tropical (bh-T). Las precipitaciones promedio anual de los últimos cinco (5) años según el IDEAM, estación Cuba, es de 2.500 mm, concentrándose el período de
                lluvias entre mayo a septiembre. La humedad relativa es del 78 % en tiempo de sequía y de 81 % en períodos de lluvia.</p>
            <p><span>Límites del municipio: </span></p>
            <p>

                El municipio de Montelíbano tiene los siguientes límites: al norte limita con los municipios de Planeta Rica, Buenavista y Ayapel; al sur con los Municipios de Puerto Libertador Córdoba, San José de Ure y Taráza, Cáceres e Ituango - Departamento de Antioquia;
                por el oriente con los municipio de La Apartada y al oriente con el municipio de Tierralta. (Límites del Municipio de Montelíbano).
            </p>
            <p><span>Extensión total: </span>1.899 Km2</p>
            <p><span>Extensión área urbana: </span>1.899 Km2</p>
            <p><span>Extensión área rural: </span>1.899 Km2</p>
            <p><span>Altitud de la cabecera municipal (metros sobre el nivel del mar):  </span>50 metros</p>
            <p><span>Temperatura media:  </span>28º C cuando hace frioº C</p>
            <p><span>Distancia de referencia:   </span>114 km a Monteria</p>


            <br>
        </div>

        <div class="col-md-5 col-sm-1 ayuda ">
            <div>
                <h5>Mapas </h5>
                <br>
            </div>
            <p><span>montelibano </span></p>
            <p><span>politico </span></p>
            <p><span>territorial </span></p>
            <br>

        </div>
        <div class="col-md-5 col-sm-1 ayuda ">
            <div>
                <h5>Economia</h5>
                <br>
            </div>

            <p><span>  MINERIA  </span></p>


            <p>La minería es la base de la economía del municipio. Se explotan minas de oro, plata, platino, níquel y de carbón. Sin embargo, de todas las explotaciones, la principal es la de mineral de níquel a cargo de la empresa Cerro Matoso S.A. -el
                único productor colombiano de ferroníquel y una de las 10 empresas más grandes del país-. Las actividades de Cerro Matoso S.A. se basan en un sistema de extracción a cielo abierto y en un posterior proceso pirometalúrgico del que se obtienen
                gránulos de ferroníquel. El producto de Cerro Matoso S.A. es exportado principalmente a Estados Unidos, Europa y Asia y goza de muy buena reputación por su alta calidad y sus especiales propiedades químicas. Después de 25 años de operaciones,
                Cerro Matoso S.A. no sólo ha potenciado el avance de los municipios circundantes, si no de toda la region, pues ha sido el principal generador de empleo directo e indirecto y ha implementado importantes proyectos públicos y sociales para
                el beneficio de la comunidad [ver: Principales contribuciones de Cerro Matoso S.A. al mejoramiento de las condiciones de vida en su área de influencia, estudio adelantado y publicado por Econometría Consultores]. Dentro de los proyectos
                sociales de la empresa destacan la creación y financiación de 3 fundaciones: la Fundación San Isidro, dedicada a ser semillero de negocios y fuente de financiación para pymes; la Fundacion Educativa de Montelíbano, que comprende un colegio
                y diversos laboratorios; y la Fundacion Panzenú, una IPS dedicada a la prestación de servicios de salud. Adicionalmente, tiene gran presencia en la región la empresa colombiana de cementos, Argos, a través de su empresa subordinada, C.I.
                Carbones del Caribe, cuya principal actividad en en valle del San Jorge es la extracción y comercialización dentro de Colombia de carbón para la operación de plantas de cemento o de generación de energía térmica.</p>
            <p><span>  PESCA  </span></p>
            <p>Actualmente la pesca no es tan intensiva e importante como hace algunos años atrás, debido a algunos problemas como la pesca indiscriminada, que han reducido considerablemente la cantidad de peces. Pese a esto, la actividad aún es la base
                para el sostenimiento de muchas familias de la población.
            </p>
            <p><span>  GANADERIA  </span></p>
            <p>Sin ninguna duda, como en todo municipio del departamento de Córdoba, la ganaderia es una actividad de importancia economica. Montelíbano cuenta con grandes e importantes hacendados en su zona rural, reconocidos a nivel regional y nacional
                por la excelente ganadería que estos poseen. Se destacan especies de ganado cebú, bobino, brahman y el ganado bravo que es el usado en las tradicionales Fiestas de Corraleja .
            </p>
            <p><span>  AGRICULTURA  </span></p>
            <p>Esta actividad se desarrolla intensivamente en los corregimientos del municipio. Actualmente la empresa Cerro Matoso ha venido desarrollando grandes proyectos de cultivos de caucho que han generado empleo e impulsado a muchas familias campesinas
                maltratadas por la violencia. Lamentablemente, en gran parte de la zona rural de la población muchos campesinos cultiban la mata de coca por mayor rentabilidad, pero el gobierno en los últimos meses ha estado adelantando procesos de erradicación
                de estos cultivos ilícitos y subsidios para estas familias campesinas.
            </p>
            <br>

        </div>
        <div class="col-md-5 col-sm-1 ayuda ">
            <div>
                <h5>VIAS</h5>
                <br>
            </div>

            <p><span>  AÉREAS  </span></p>


            <p>El municipio cuenta con el aeropuerto "El Pindo", el cual posee una excelente pista de aterrizaje para vuelos menores. Actualmente se encuentra en servicio con vuelos tipo Charter y a baja frecuencia. Se tienen proyectos para la adecuación
                y mejoramiento de éste.

            </p>
            <p><span>  TERRESTRES  </span></p>
            <p>Montelibano cuenta con diversas vías que conducen hacia otras partes de Córdoba y Antioquia. Muchas de estas se encuentran en perfecto estado y son muy usadas por ganaderos, comerciantes y empresarios que poseen predios y negocios en la parte
                rural del municipio o en poblaciones aledañas. Las dos vías mas importantes de entrada y salida al municipio son las de la vía Montelibano - La Apartada y Montelibano - Puerto Libertador, las cuales están pavimentadas y excelentes en su
                gran totalidad. La vía a Cerromatoso esta pavimentada en su totalidad.
            </p>
            <p><span>  FLUVIALES  </span></p>
            <p>La población de montelibano cuenta con el puerto fluvial Los totumos, el cual tuvo mayor furor en los años 50`s cuando se traían mercancías desde el alto San Jorge y eran llevadas hacia otras poblaciones como Barranquilla y Magangue. Actualmente
                este puerto tiene muy poca actividad, pero aun asi se convierte en un importante sitio históricopara la ciudad
            </p>
            <p><span>  AGRICULTURA  </span></p>
            <p>Esta actividad se desarrolla intensivamente en los corregimientos del municipio. Actualmente la empresa Cerro Matoso ha venido desarrollando grandes proyectos de cultivos de caucho que han generado empleo e impulsado a muchas familias campesinas
                maltratadas por la violencia. Lamentablemente, en gran parte de la zona rural de la población muchos campesinos cultiban la mata de coca por mayor rentabilidad, pero el gobierno en los últimos meses ha estado adelantando procesos de erradicación
                de estos cultivos ilícitos y subsidios para estas familias campesinas.
            </p>
            <br>

        </div>
        <div class="col-md-5 col-sm-1  ayuda ">
            <div>
                <h5>Indicadores demográficos</h5>
                <br>
            </div>
            <p><span>Población </span></p>
            <p> Montelíbano se encuentra situado a los 7º 59’ 13" de Latitud Norte y a 75º 25’ 30" de LongitudOeste. Localizado en la parte sur del Departamento de Córdoba y a unos 55 msnm, distante de la capital del departamento 112 km La temperatura promedio
                es de 28 ºC, el área urbana se encuentra en la zona de vida de bosque húmedo tropical (bh-T). Las precipitaciones promedio anual de los últimos cinco (5) años según el IDEAM, estación Cuba, es de 2.500 mm, concentrándose el período de
                lluvias entre mayo a septiembre. La humedad relativa es del 78 % en tiempo de sequía y de 81 % en períodos de lluvia.</p>
            <p><span>Esperanza de vida al nacer (años) Hombres:</span> 65</p>
            <p><span>Esperanza de vida al nacer (años) Mujeres:</span> 65</p>
            <p><span>Habitantes en el municipio </span></p>
            <p><span>No. Habitantes Cabecera: </span> 53.257 </p>
            <p><span>No. Habitantes Zona Rural: </span>17.296 </p>
            <p><span>Total:    </span> 70.553</p>
            <p><span>Distribución por sexo  </span></p>
            <p><span>No. Hombres  : </span>34.954</p>
            <p><span>No. Hombres  : </span>35.599</p>
            <p>Habitantes en los territorios</p>
            <p>Pronto encontrá información sobre los territorios del municipio</p>

            <br>
        </div>

    </div>

</section>
<br>