<div class="clearfix">
</div>
<div class="clearfix"></div>
<section class="section-side-image section-light-stone clearfix" style="box-shadow: 0px 11px 18px 4px;  background:#F7F7F7; margin-top: 30px;">
    <div class="row">
        <div class="col-md-6 col-sm-1 pull-left ayuda">
            <div style="text-align: center;">
                <h5 style="font-weight: bold;">Misión</h5>
                <br>
            </div>
            <p> “seguimos por el camino correcto”</p>
            <p>Es gobernar responsablemente al municipio, trabajando con transparencia, dando importancia a las demandas ciudadanas, desarrollando acciones de cuidado al medio ambiente, garantizando los servicios necesarios para el mejoramiento de la calidad
                de vida de sus habitantes y asegurando el desarrollo de las futuras generaciones.</p>
            <br>
        </div>

        <div class="col-md-5 col-sm-1 ayuda ">
            <div style="text-align: center; ">
                <h5 style="font-weight: bold;">Visión</h5>
                <br>
            </div>
            <p> En el año 2020 Montelíbano será un municipio de progreso, con un desarrollo económico sostenible, en el cual se destacará la educación y producción agropecuaria de calidad y un sistema de gestión ambiental ejemplar. Sera reconocido a nivel
                regional como un municipio organizado y con mayores oportunidades para sus ciudadanos, en paz y armoniosa convivencia ciudadana.</p>
            <br>

        </div>
    </div>

</section>
<div class="clearfix"></div>
<br>