<div class="header2">
    <nav class="navbar navbar-default">
        <ul class="toplist">
            <li><a><i class="fa fa-facebook"></i></a></li>
            <li><a><i class="fa fa-twitter"></i></a></li>
            <li><a><i class="fa fa-google-plus"></i></a></li>
            <li class="last"><a href="#"><i class="fa fa-search"></i></a></li>
        </ul>
    </nav>
</div>



<!-- =============== Start of Header 1 Navigation =============== -->
<header class="header1">
    <nav class="navbar navbar-default navbar-static-top fluid_header centered" style="box-shadow: 0px 13px 24px -10px ;">
        <div class="container">

            <!-- Logo -->
            <div class="col-md-2 col-sm-6 col-xs-8 nopadding">
                <a class="navbar-brand nomargin" [routerLink]="['/inicio']"><img src="../../../assets/images/logo.png" alt="logo"></a>
                <!-- INSERT YOUR LOGO HERE -->
            </div>

            <!-- ======== Start of Main Menu ======== -->
            <div class="col-md-10 col-sm-6 col-xs-4 nopadding">
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle toggle-menu menu-right push-body" data-toggle="collapse" data-target="#main-nav" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <!-- Start of Main Nav -->
                <div class="collapse navbar-collapse cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right" id="main-nav">
                    <ul class="nav navbar-nav pull-right">

                        <!-- Mobile Menu Title -->
                        <li class="mobile-title">
                            <h4>Menu</h4>
                        </li>

                        <!-- Simple Menu Item -->
                        <li class="dropdown simple-menu">
                            <a [routerLink]="['/inicio']" routerLinkActive="active" data-toggle="dropdown" role="button">Inicio</a>
                        </li>

                        <!-- Simple Menu Item -->
                        <li class="dropdown mega-menu">
                            <a [routerLink]="['/inicio']" routerLinkActive="active" class="dropdown-toggle" data-toggle="dropdown" role="button">Alcaldia<i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <!-- Start of Mega Menu Inner -->
                                    <div class="mega-menu-inner">
                                        <div class="row">
                                            <ul class="col-md-4">
                                                <li class="menu-title">Alcaldia</li>
                                                <li> <a style="color: #731763; !important" routerLinkActive [routerLink]="['DirecionFisica']">Dirección Fisica</a> </li>
                                                <li> <a style="color: #731763; !important" routerLinkActive [routerLink]="['Alcalde']">Alcalde</a> </li>
                                                <li> <a style="color: #731763; !important" routerLinkActive [routerLink]="['Mision-Y-Vision']">Misión, Visión y valores institucionales</a> </li>
                                                <li> <a style="color: #731763; !important" routerLinkActive [routerLink]="['Funciones-y-deberes']">Funciones y deberes</a> </li>
                                                <li> <a [routerLink]="['/inicio']" routerLinkActive="active">Organigrama</a> </li>
                                                <li> <a [routerLink]="['/inicio']" routerLinkActive="active">Directorio de funcionarios</a> </li>
                                                <li> <a [routerLink]="['/inicio']" routerLinkActive="active">Directorio institucional</a> </li>

                                            </ul>

                                            <ul class="col-md-4">
                                                <li class="menu-title">Consultas Y certificados</li>
                                                <li> <a [routerLink]="['/inicio']" routerLinkActive="active">Calendario tributario</a> </li>
                                                <li> <a [routerLink]="['/inicio']" routerLinkActive="active">Sede electronica</a> </li>
                                                <li> <a style=" font-weight: bold;">Municipio</a> </li>
                                                <li> <a style="color: #731763; !important" routerLinkActive [routerLink]="['Montelibano']">Nuestro Municipio</a> </li>
                                                <li> <a [routerLink]="['/inicio']" routerLinkActive="active">Manual de contratacion </a> </li>
                                                <li> <a [routerLink]="['/inicio']" routerLinkActive="active">Informacion gneral</a> </li>
                                                <li> <a [routerLink]="['/inicio']" routerLinkActive="active">Código de integridad servicio piblico</a> </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- End of Mega Menu Inner -->
                                </li>
                            </ul>
                        </li>

                        <!-- Simple Menu Item -->
                        <li class="dropdown simple-menu">
                            <a [routerLink]="['/inicio']" routerLinkActive="active" class="dropdown-toggle" data-toggle="dropdown" role="button">Infórmate<i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li> <a [routerLink]="['/inicio']" routerLinkActive="active">Noticias</a> </li>
                                <li> <a [routerLink]="['/inicio']" routerLinkActive="active">Preguntas y respuestas</a> </li>
                                <li> <a [routerLink]="['/inicio']" routerLinkActive="active">Control</a> </li>
                                <li> <a [routerLink]="['/inicio']" routerLinkActive="active">Glosario</a> </li>
                                <li> <a [routerLink]="['/inicio']" routerLinkActive="active">Datos abiertos</a> </li>
                                <li> <a [routerLink]="['/inicio']" routerLinkActive="active">Metas, objetivos e indicadores</a> </li>
                                <li> <a [routerLink]="['/inicio']" routerLinkActive="active">Información adicional</a> </li>
                                <li> <a [routerLink]="['/inicio']" routerLinkActive="active">Contrataciones</a> </li>
                                <li> <a [routerLink]="['/inicio']" routerLinkActive="active">Convocatorias</a> </li>
                                <li> <a [routerLink]="['/inicio']" routerLinkActive="active">Ofertas de empleo</a> </li>
                                <li> <a [routerLink]="['/inicio']" routerLinkActive="active">Población vulnerable</a> </li>
                            </ul>
                        </li>
                        <!-- Simple Menu Item -->
                        <li class="dropdown simple-menu">
                            <a [routerLink]="['/inicio']" routerLinkActive="active" class="dropdown-toggle" data-toggle="dropdown" role="button">Documentos<i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <!-- Dropdown Submenu -->
                                <li class="dropdown-submenu">
                                    <a href="#">headers<i class="fa fa-angle-right"></i></a>
                                    <ul class="dropdown-menu">
                                        <li> <a [routerLink]="['/inicio']" routerLinkActive="active">Normatividad</a> </li>
                                        <li> <a [routerLink]="['/inicio']" routerLinkActive="active">Informes de PQRDS</a> </li>
                                        <li> <a [routerLink]="['/inicio']" routerLinkActive="active">politicas y alineamientos</a> </li>
                                        <li> <a [routerLink]="['/inicio']" routerLinkActive="active">Planes</a> </li>
                                        <li> <a [routerLink]="['/inicio']" routerLinkActive="active">Programas</a> </li>
                                        <li> <a [routerLink]="['/inicio']" routerLinkActive="active">Presupuesto</a> </li>
                                    </ul>
                                </li>

                                <!-- Dropdown Submenu -->


                                <!-- Dropdown Submenu
                                <li class="dropdown-submenu">
                                    <a href="#">page headers<i class="fa fa-angle-right"></i></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="page-header1.html">default</a></li>
                                        <li><a href="page-header2.html">light</a></li>
                                        <li><a href="page-header3.html">dark</a></li>
                                        <li><a href="page-header4.html">parallax</a></li>
                                    </ul>
                                </li> -->
                            </ul>
                        </li>

                        <!-- Simple Menu Item -->
                        <li class="dropdown simple-menu">
                            <a [routerLink]="['/inicio']" routerLinkActive="active" class="dropdown-toggle" data-toggle="dropdown" role="button">Participa<i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu" role="menu">

                                <li> <a [routerLink]="['/inicio']" routerLinkActive="active">Calendario de Actividades</a> </li>
                                <li> <a [routerLink]="['/inicio']" routerLinkActive="active">Niños, Niñas, Adolecentes</a> </li>
                                <li> <a [routerLink]="['/inicio']" routerLinkActive="active">Encuestas</a> </li>
                                <li> <a [routerLink]="['/inicio']" routerLinkActive="active">Instancias de participaciones</a> </li>
                                <li> <a [routerLink]="['/inicio']" routerLinkActive="active">Rendición  de cuentas</a> </li>
                                <li> <a [routerLink]="['/inicio']" routerLinkActive="active">Presupuesto</a> </li>
                                <li> <a [routerLink]="['/inicio']" routerLinkActive="active">Enlaces de interés</a> </li>
                            </ul>
                        </li>

                    </ul>
                </div>
                <!-- End of Main Nav -->
            </div>
            <!-- ======== End of Main Menu ======== -->

        </div>
    </nav>
</header>
<!-- =============== End of Header 1 Navigation =============== -->