<br>
<section class="section-side-image section-light-stone clearfix" style="box-shadow: 0px 11px 18px 4px; background: #F7F7F7;">
    <div class="row " style="margin: 40px;">
        <div class="col-md-6 col-sm-1 pull-left ayuda">
            <div style="text-align: center;">
                <h5 style="font-weight: bold; color: #731763">Funciones</h5>
                <br>
            </div>
            <p><span style="font-weight: bold;color:#027333">1.</span> Cumplir y hacer cumplir la constitución, la ley, los decretos del gobierno. </p>
            <p><span style="font-weight: bold;color:#027333">2.</span> Conservar el orden público en el municipio, de conformidad con la ley. </p>
            <p><span style="font-weight: bold;color:#027333">3.</span> Presentar proyectos para la buena marcha del municipio.</p>
            <p><span style="font-weight: bold;color:#027333">4.</span> Dirigir acción administrativa del municipio; asegurar el cumplimiento de las funciones de los mismos. </p>
            <p><span style="font-weight: bold;color:#027333">5.</span> Nombrar y remover a los funcionarios bajo su dependencia de acuerdo con las disposiciones pertinentes.</p>

        </div>

        <div class="col-md-5 col-sm-1 ayuda ">
            <div style="text-align: center; ">
                <h5 style="font-weight: bold; color: #731763 ">Deberes</h5>
                <br>
            </div>
            <p> </p>
            <br>

        </div>
    </div>

</section>
<br>