<!-- ========== Start of Main Slider Section ========== -->
<section class="main2">

    <!-- ===== Start of Swiper Slider ===== -->
    <div class="swiper-container">
        <div class="swiper-wrapper">

            <!-- Start of Slide 1 -->
            <div class="swiper-slide overlay-black" style="background: url('assets/images/slider1.jpg'); background-size: cover; background-position: 50% 50%;">

                <!-- Start of Slider Content -->
                <div class="slider-content container">

                    <div class="col-md-6 col-md-offset-6 col-xs-12 text-center">

                        <div class="section-title">
                            <h2 class="text-white">your career start now!</h2>
                        </div>

                        <p class="text-white">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy t ext ever since the 1500s..</p>

                    </div>

                </div>
                <!-- End of Slider Content -->

            </div>
            <!-- End of Slide 1 -->
            <!-- <img src="assets/images/slider2.png" alt=""> -->

            <!-- Start of Slide 2 -->
            <div class="swiper-slide overlay-black" style="background: url('assets/images/slider2.png'); background-size: cover; background-position: 50% 50%;">

                <!-- Start of Slider Content -->
                <div class="slider-content container">

                    <div class="col-md-6 col-xs-12 text-center">

                        <div class="section-title">
                            <h2 class="text-white">your career start now!</h2>
                        </div>

                        <p class="text-white">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy t ext ever since the 1500s..</p>

                    </div>

                </div>
                <!-- End of Slider Content -->

            </div>
            <!-- End of Slide 2 -->
            <!-- Start of Slide 2 -->
            <div class="swiper-slide overlay-black" style="background: url('assets/images/slider3.jpg'); background-size: cover; background-position: 50% 50%;">

                <!-- Start of Slider Content -->
                <div class="slider-content container">

                    <div class="col-md-6 col-xs-12 text-center">

                        <div class="section-title">
                            <h2 class="text-white">your career start now!</h2>
                        </div>

                        <p class="text-white">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy t ext ever since the 1500s..</p>

                    </div>

                </div>
                <!-- End of Slider Content -->

            </div>
            <!-- End of Slide 2 -->
            <!-- Start of Slide 2 -->
            <div class="swiper-slide overlay-black" style="background: url('assets/images/slider4.jpg'); background-size: cover; background-position: 50% 50%;">

                <!-- Start of Slider Content -->
                <div class="slider-content container">

                    <div class="col-md-6 col-xs-12 text-center">

                        <div class="section-title">
                            <h2 class="text-white">your career start now!</h2>
                        </div>

                        <p class="text-white">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy t ext ever since the 1500s..</p>

                    </div>

                </div>
                <!-- End of Slider Content -->

            </div>
            <!-- End of Slide 2 -->


        </div>
        <!-- End of Swiper Wrapper -->

        <!-- Navigation Buttons -->
        <div class="swiper-button-prev"><i class="fa fa-angle-left"></i></div>
        <div class="swiper-button-next"><i class="fa fa-angle-right"></i></div>

    </div>
    <!-- ===== End of Swiper Slider ===== -->

</section>
<!-- ========== End of Main Slider Section ========== -->
<div class="clearfix"></div>

<!-- ===== Start of Main Wrapper Section ===== -->
<section class="find-candidate ptb80">
    <div class="container">

        <!-- Start of Form -->
        <form class="row " action="#" method="get">

            <!-- Start of keywords input -->
            <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-2 col-xs-8 iconbuscar">
                <div>
                    <i class="fa fa-search"></i>
                </div>
                <label for="search-keywords">Keywords</label>
                <input type="text" name="search-keywords" id="search-keywords" class="form-control" placeholder="Busqueda...">
            </div>

        </form>
        <!-- End of Form -->

    </div>
</section>
<!-- ===== End of Main Wrapper Section ===== -->
<div class="clearfix"></div>
<section class="page-header" id="find-candidate">

    <div class="container ">

        <div class="row col-12  col-md-12 col-md-offset-1">
            <div class="col-sm-2">
                <div class="feature-box-67 ">
                    <div class="iconbox-xlarge left round ">
                        <a pageScroll href="#p1"> <i style="color: white;" class="fa fa-gears"> <h5  style="color: white;" style="color: white;" class="uppercase roboto-slab">TRAMITES Y SERVICIOS</h5></i></a>

                    </div>
                </div>
            </div>
            <!--end item-->

            <div class="col-sm-2">
                <div class="feature-box-67 ">
                    <div class="iconbox-xlarge left round">
                        <a pageScroll href="#p2"><i style="color: white;" class="fa fa-clipboard"><h5 style="color: white;" class="uppercase roboto-slab">PLANES</h5></i></a>

                    </div>
                </div>
            </div>
            <!--end item-->


            <!-- <div class="col-divider-margin-6"></div> -->

            <div class="col-sm-2">
                <div class="feature-box-67 ">
                    <div class="iconbox-xlarge left round">
                        <a pageScroll href="#testimonials"><i style="color: white;" class="fa fa-pencil-square"> <h5  style="color: white;"class="uppercase roboto-slab">NOTICIAS</h5></i></a>
                    </div>
                </div>
            </div>
            <!--end item-->

            <div class="col-sm-2">
                <div class="feature-box-67 ">
                    <div class="iconbox-xlarge left round">
                        <a pageScroll href="#p5"><i style="color: white;" class="fa fa-group">  <h5  style="color: white;" class="uppercase roboto-slab">PARTICIPACION
                    CIUDADANA</h5></i></a>

                    </div>
                </div>
            </div>
            <!--end item-->

            <div class="col-sm-2">
                <div class="feature-box-67 ">
                    <div class="iconbox-xlarge left round">
                        <a pageScroll href="#p4"><i style="color: white;" class="fa fa-camera-retro">  <h5  style="color: white;" class="uppercase roboto-slab">TURISMO</h5></i></a>

                    </div>
                </div>
            </div>
            <!--end item-->

        </div>
    </div>
</section>

<div class="clearfix"></div>

<section class="ptb45" style="box-shadow: 0px 11px 18px 4px;" id="p1">
    <div class="section-title text-black-50">
        <h2 class="text-black-50">TRAMITES Y SERVICIOS</h2>
    </div>

    <div class="col-md-4 col-md-offset-1">
        <h5 class=" ">¿Como podemos ayudarte?</h5>
        <p> Encuentre la información de todos los trámites y servicios de la entidad.</p>
        <div class="clearfix"></div>
        <p> <i class="fa fa-folder-open"> <a>Programas ingreso solidario.</a></i>
        </p>
        <p> <i class="fa fa-question-circle"> <a> Ayuda.</a></i>
        </p>
        <p> <i class="fa fa-archive"> <a>Ventanilla única.</a></i>
        </p>
        <p> <i class="fa fa-weixin"> <a>Preguntas y respuestas.</a></i>
        </p>
    </div>
    <div class="container ">
        <div class=" col-md-6 col-xs-offset-1">




            <div class="iconbox-xmedium col-xs-4">

                <h6 class="uppercase"> SISBEN </h6><a [routerLink]="['/inicio']" routerLinkActive="active"><i class="fa fa-building"> </i></a>

            </div>



            <div class="iconbox-xmedium col-xs-4">
                <h6 class="uppercase"> RADICACIóN </h6> <a [routerLink]="['/inicio']" routerLinkActive="active"><i class="fa fa-pencil-square-o"> </i></a>

            </div>



            <div class="iconbox-xmedium col-xs-4">
                <h6 class="uppercase"> permisos </h6><a [routerLink]="['/inicio']" routerLinkActive="active"><i class="fa fa-calendar"> </i></a>

            </div>



            <div class="clearfix"></div>



            <div class="iconbox-xmedium col-xs-4 ">
                <h6 class="uppercase "> lisencias </h6><a href=" "><i class="fa fa-file-text-o "> </i></a>

            </div>



            <div class="iconbox-xmedium col-xs-4">
                <h6 class="uppercase "> IMPUESTOS </h6><a href=" "><i class="fa fa-money "> </i></a>

            </div>


            <div class="iconbox-xmedium col-xs-4">
                <h6 class="uppercase "> reconocimientos </h6><a href=" "><i class="fa fa-gift "> </i></a>

            </div>





        </div>
    </div>

</section>

<div class="clearfix"></div>
<br>

<section id="p2" class="parallax-section49 ">
    <div class="section-title text-white">
        <h2 class="text-black-50">PLANES</h2>
    </div>
    <div class="section-overlay ">
        <div class="container ">
            <div class="row">
                <div class="col-md-8 ban " style="text-align: left; ">
                    <div style="padding: 20px;">
                        <h5 class="title-2 uppercase">¿en que estamos trabajando? </h5>
                    </div>
                    <div class="text-white">

                        <p><i class="fa fa-chevron-circle-right" style="padding-right: 10px;"></i><a [routerLink]="['/inicio']" routerLinkActive="active">Plan de desarrollo</a></p>
                        <p><i class="fa fa-chevron-circle-right" style="padding-right: 10px;"></i><a [routerLink]="['/inicio']" routerLinkActive="active">Rendicion de cuentas</a></p>
                        <p><i class="fa fa-chevron-circle-right " style="padding-right: 10px; "></i><a [routerLink]="['/inicio']" routerLinkActive="active">Transparencia</a></p>
                    </div>

                    <br/>
                </div>
            </div>
        </div>
    </div>
</section>


<div class="clearfix"></div>


<!-- ===== Start of Testimonial Section ===== -->
<section class="ptb80" id="testimonials">
    <div class="container">

        <!-- Section Title -->
        <div class="section-title">
            <h2 class="text-black-50">NOTICIAS</h2>
        </div>


        <!-- Start of Owl Slider -->
        <div class="owl-carousel testimonial">

            <!-- Start of Slide item -->
            <div class="item">

                <div class="card1">

                    <div class="blog-post blog-post-ver2">
                        <!-- Blog Post Image -->
                        <div class="blog-post-thumbnail">
                            <a href="blog-post.html" class="hover-link">
                                <img src="assets/images/n1.jpg" alt="">
                            </a>
                        </div>

                        <!-- Blog Post Info -->
                        <div>
                            <h6 href="blog-post.html">Nombre de noticias</h6>

                            <div class="post-details">
                                <span class="date"><i class="fa fa-calendar"></i>September 7, 2016</span>
                                <span class="comments"><i class="fa fa-comment"></i>0 Comments</span>
                            </div>

                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy t ext ever since the 1500s....</p>

                        </div>

                        <!-- Read More Button -->
                        <a [routerLink]="['/inicio']" routerLinkActive="active" class="read-more stone">Leer noticia! &nbsp; <i class="fa fa-angle-double-right"></i></a> <br/>

                    </div>
                </div>

            </div>
            <!-- End Slide item -->

            <!-- Start of Slide item -->
            <div class="item">
                <div class="card1">
                    <div class="blog-post blog-post-ver2">
                        <!-- Blog Post Image -->
                        <div class="blog-post-thumbnail">
                            <a href="blog-post.html" class="hover-link">
                                <img src="assets/images/n2.jpg" alt="">
                            </a>
                        </div>

                        <!-- Blog Post Info -->
                        <div>
                            <h6 href="blog-post.html">Nombre de noticias</h6>

                            <div class="post-details">
                                <span class="date"><i class="fa fa-calendar"></i>September 7, 2016</span>
                                <span class="comments"><i class="fa fa-comment"></i>0 Comments</span>
                            </div>

                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy t ext ever since the 1500s....</p>

                        </div>

                        <!-- Read More Button -->
                        <a [routerLink]="['/inicio']" routerLinkActive="active" class="read-more stone">Leer noticia! &nbsp; <i class="fa fa-angle-double-right"></i></a> <br/>

                    </div>
                </div>
            </div>
            <!-- End Slide item -->

            <!-- Start of Slide item -->
            <div class="item">
                <div class="card1">
                    <div class="blog-post blog-post-ver2">
                        <!-- Blog Post Image -->
                        <div class="blog-post-thumbnail">
                            <a href="blog-post.html" class="hover-link">
                                <img src="assets/images/n3.jpg" alt="">
                            </a>
                        </div>

                        <!-- Blog Post Info -->
                        <div>
                            <h6 href="blog-post.html">Nombre de noticias</h6>

                            <div class="post-details">
                                <span class="date"><i class="fa fa-calendar"></i>September 7, 2016</span>
                                <span class="comments"><i class="fa fa-comment"></i>0 Comments</span>
                            </div>

                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy t ext ever since the 1500s....</p>

                        </div>

                        <!-- Read More Button -->
                        <a [routerLink]="['/inicio']" routerLinkActive="active" class="read-more stone">Leer noticia! &nbsp; <i class="fa fa-angle-double-right"></i></a> <br/>

                    </div>
                </div>
            </div>
            <!-- End Slide item -->
            <!-- Start of Slide item -->
            <div class="item">
                <div class="card1">
                    <div class="blog-post blog-post-ver2">
                        <!-- Blog Post Image -->
                        <div class="blog-post-thumbnail">
                            <a href="blog-post.html" class="hover-link">
                                <img src="assets/images/n4.jpg" alt="">
                            </a>
                        </div>

                        <!-- Blog Post Info -->
                        <div>
                            <h6 href="blog-post.html">Nombre de noticias</h6>

                            <div class="post-details">
                                <span class="date"><i class="fa fa-calendar"></i>September 7, 2016</span>
                                <span class="comments"><i class="fa fa-comment"></i>0 Comments</span>
                            </div>

                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy t ext ever since the 1500s....</p>

                        </div>

                        <!-- Read More Button -->
                        <a [routerLink]="['/inicio']" routerLinkActive="active" class="read-more stone">Leer noticia! &nbsp; <i class="fa fa-angle-double-right"></i></a> <br/>

                    </div>
                </div>
            </div>
            <!-- End Slide item -->
            <!-- Start of Slide item -->
            <div class="item">
                <div class="card1">
                    <div class="blog-post blog-post-ver2">
                        <!-- Blog Post Image -->
                        <div class="blog-post-thumbnail">
                            <a href="blog-post.html" class="hover-link">
                                <img src="assets/images/planes.jpg" alt="">
                            </a>
                        </div>

                        <!-- Blog Post Info -->
                        <div>
                            <h6 href="blog-post.html">Nombre de noticias</h6>

                            <div class="post-details">
                                <span class="date"><i class="fa fa-calendar"></i>September 7, 2016</span>
                                <span class="comments"><i class="fa fa-comment"></i>0 Comments</span>
                            </div>

                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy t ext ever since the 1500s....</p>

                        </div>

                        <!-- Read More Button -->
                        <a [routerLink]="['/inicio']" routerLinkActive="active" class="read-more stone">Leer noticia! &nbsp; <i class="fa fa-angle-double-right"></i></a> <br/>

                    </div>
                </div>
            </div>
            <!-- End Slide item -->

        </div>
        <!-- End of Owl Slider -->

    </div>
</section>
<!-- ===== End of Testimonial Section ===== -->


<div class="clearfix"></div>



<section id="p4" class="parallax-section50 ">
    <div class="section-title text-white">
        <h2 class="text-black-50">TURISMO</h2>
    </div>

    <div class="col-md-4 col-md-offset-1 turismo">
        <h5 class="title-2 uppercase" style="font-weight: bold; color: white;">¿en que estamos trabajando? </h5>
        <br/>
        <p><a [routerLink]="['/inicio']" routerLinkActive="active">Montelíbano es un municipio del sur del departamento de Córdoba, Colombia. Situado a la orilla del río San Jorge y con una población de 85.000​ habitantes aproximadamente, es uno de los centros económicos, comerciales y culturales más importantes de la región</a></p>
        <p>
            <a [routerLink]="['/inicio']" routerLinkActive="active"> <span> Superficie:</span> 1,890 km² </a>
        </p>
        <p><a [routerLink]="['/inicio']" routerLinkActive="active"><span>Área urbana:</span> 9.56 km²</a></p>
        <p><a [routerLink]="['/inicio']" routerLinkActive="active"><span>Alcalde:</span> Gabriel Calle Demoya </a></p>
        <p class="text-white"><a [routerLink]="['/inicio']" routerLinkActive="active"><span>Tiempo:</span> 25 °C, viento del SO a 3 km/h, humedad del 94 %

                    </a></p>
    </div>
    <div class="">
        <div class=" col-md-6 col-xs-offset-1 ">
            <ng-image-slider [images]="imgpueblo" [imageSize]="{width: '27%', height: 150}" [showArrow]=false></ng-image-slider>
        </div>
        <div class=" col-md-6 col-xs-offset-1">
            <ng-image-slider [images]="imgpueblo2" [imageSize]="{width: '27%', height: 150}" [showArrow]=false></ng-image-slider>
        </div>
    </div>


</section>


<div class="clearfix"></div>
<br>

<section class="ptb45" id="p5" style="box-shadow: 0px 11px 18px 4px;">
    <div class="section-title text-black-50">
        <h2 class="text-black-50">PARTICIPA</h2>
    </div>

    <div class="col-md-4 col-md-offset-1">
        <h4 style="color: #F25835; !important">Participacion ciudadana</h4>
        <br>
        <p style="font-size: 15px;"> En contacto con la comunidad Ofrecemos canales de atención y participacion para nuestros ciudadanos</p>
        <div class="clearfix"></div>
        <div class="row mt80 col-12   ">

            <div class="col-md-12 ">
                <!-- Start of Social Media Buttons -->
                <ul class="social-btns list-inline mt30">
                    <li>
                        <span style="color: black; font-weight: bold; font-size: 20px;">Siguenos :</span>
                    </li>

                    <!-- Social Media -->
                    <li>
                        <a [routerLink]="['/inicio']" routerLinkActive="active" class="social-btn-roll facebook">
                            <div class="social-btn-roll-icons">
                                <i class="social-btn-roll-icon fa fa-facebook"></i>
                                <i class="social-btn-roll-icon fa fa-facebook"></i>
                            </div>
                        </a>
                    </li>

                    <!-- Social Media -->
                    <li>
                        <a [routerLink]="['/inicio']" routerLinkActive="active" class="social-btn-roll twitter">
                            <div class="social-btn-roll-icons">
                                <i class="social-btn-roll-icon fa fa-twitter"></i>
                                <i class="social-btn-roll-icon fa fa-twitter"></i>
                            </div>
                        </a>
                    </li>

                    <!-- Social Media -->
                    <li>
                        <a [routerLink]="['/inicio']" routerLinkActive="active" class="social-btn-roll google-plus">
                            <div class="social-btn-roll-icons">
                                <i class="social-btn-roll-icon fa fa-google-plus"></i>
                                <i class="social-btn-roll-icon fa fa-google-plus"></i>
                            </div>
                        </a>
                    </li>

                    <!-- Social Media -->
                    <li>
                        <a [routerLink]="['/inicio']" routerLinkActive="active" class="social-btn-roll instagram">
                            <div class="social-btn-roll-icons">
                                <i class="social-btn-roll-icon fa fa-instagram"></i>
                                <i class="social-btn-roll-icon fa fa-instagram"></i>
                            </div>
                        </a>
                    </li>
                </ul>
                <!-- End of Social Media Buttons -->

            </div>
        </div>
    </div>
    <div class="container ">
        <div class=" col-md-6 col-xs-offset-1">

            <div class="col-sm-12" style="text-align: center; padding-bottom: 20px;">
                <h5 class="uppercase">Participacion ciudadana</h5>
            </div>



            <div class="iconbox-dxlarge nopadding col-xs-4">

                <h6 style="margin-bottom: -14px;" class="uppercase"> PQRS </h6><a [routerLink]="['/inicio']" routerLinkActive="active"><i style="font-size: 180%;" class="fa fa-comments"> </i></a>

            </div>


            <div class="iconbox-dxlarge nopadding  col-xs-4">
                <h6 style="margin-bottom: -14px;" class="uppercase"> CONTACTOS </h6> <a [routerLink]="['/inicio']" routerLinkActive="active"><i  style="font-size: 180%;" class="fa fa-phone-square"> </i></a>

            </div>

        </div>
    </div>
    <div class="container">

    </div>



</section>

<div class="clearfix"></div>
<br>