<section>
    <div class="header-inner two">
        <div class="inner text-center">
            <h6 class="text-white uppercase" style="font-weight: bold;">nos encontramos ubicados en la Dirección: Carrera 6 NO. 15-23 - PALACIO MUNICIPAL - MONTELIBANO CÓRDOBA </h6>
        </div>
        <div class="overlay bg-opacity-5"></div>
        <img src="../../../assets/images/logonadvar.png" alt="" class="img-responsive" />
    </div>
</section>
<div class="clearfix"></div>
<section class="section-light section-less-padding clearfix " style="box-shadow: 0px 11px 18px 4px;">
    <div class="container">
        <div class="row ">
            <div class="col-md-10 bmargin  ">

                <h3 class="raleway" style="color: #731763;">Mapa</h3>
                <div id="map" class="map">
                    <img class="img-responsive" src="../../../assets/images/descarga (1).png" alt="">
                </div>
            </div>
            <div class="clearfix"></div>
            <br>
            <div class="col-md-10 bmargin">

                <h3 class="raleway" style="color: #731763;">Código postal</h3>
                <h6 style="color: black;!important">Código Postal 234001 Área urbana</h6>
                <h6 style="color: black;!important">Código Postal 23 4007 Área rural </h6>
                <div id="map" class="map">
                    <img class="img-responsive" src="../../../assets/images/descarga.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>