/* You can add global styles to this file, and also import other style files */

.toplist {
    float: right;
    padding: 0px;
    margin: 0px;
}

.toplist li {
    float: left;
    color: #8d8c8c;
    text-align: right;
    font-size: 14px;
    margin: 0px;
    padding: 0 10px 0 10px;
}

.toplist li.lineright {
    border-right: 1px solid #e4e4e4;
}

.toplist li a {
    color: #027333;
}

.toplist li a:hover {
    color: #272727;
}

.toplist.toppadding {
    padding-top: 10px;
}

a.topbar-btn {
    float: left;
    color: #242424;
    text-align: center;
    font-size: 14px;
    margin: 0px;
    border-radius: 2px;
    padding: 5px 15px;
    background-color: #fff;
}

.topbar-padding {
    padding: 7px 0 15px 0;
}

.topbar-left-items {
    float: left;
    margin: 0;
    padding: 0;
    width: 37%;
}

.topbar-middle-logo {
    float: left;
    margin: 0;
    padding: 10px 0;
    width: 26%;
    text-align: center;
    background-color: #fd602c;
}

.topbar-middle-logo.no-bgcolor {
    background: none;
}

.topbar-right-items {
    float: left;
    margin: 0;
    padding: 0;
    width: 37%;
}

.fa.pull-right {
    margin-left: .3em;
}

.pull-right {
    float: right;
}


/* topbar dark list color
 ------------------------------ */

.navbar {
    min-height: 40px !important;
}

.nav>li {
    padding: 5px;
}

.iconbuscar i {
    font-size: 25px;
    color: #027333;
    position: absolute;
    padding-top: 8px;
}

.iconbuscar {
    text-align: center;
}

.iconbuscar div:first-child {
    padding: 0px 0px 0px 80%;
}


/* iconos 
} */

.xmedium,
.iconbox-dxlarge,
.iconbox-xlarge {
    padding: 19px 0px 0px 0px;
    /* margin: 0 auto; */
    text-align: center;
    transition: all 0.3s ease-out 0s;
}

.iconbox-dxlarge {
    width: 200px;
    height: 200px;
    font-size: 46px;
    color: black;
    border: none;
    line-height: 135px;
    background: white;
    border-radius: 15%;
}

.iconbox-dxlarge i {
    color: #027333;
}

.iconbox-xlarge {
    width: 160px;
    height: 160px;
    font-size: 46px;
    color: white;
    line-height: 135px;
    background: #757575;
    border-radius: 15%;
}

.feature-box-67 {
    width: 100%;
}

.iconbox-xmedium {
    width: 170px;
    height: 110px;
    font-size: 38px;
    color: #242424;
    line-height: 106px;
    text-align: center;
}

.iconbox-xmedium i {
    color: #027333;
}

.parallax-section49 {
    width: 100%;
    float: left;
    padding: 0;
    margin: 0px;
    text-align: center;
    background: url("assets/images/1.jpg");
    background-attachment: fixed;
    background-origin: initial;
    background-clip: initial;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100% 0;
    background-position: center;
    z-index: 1;
    height: 350px;
}

.parallax-section49 i {
    color: white;
}

.bg-opacity-7 {
    background-color: rgba(0, 0, 0, 0.3);
    height: 350px;
}

.section-overlay {
    position: relative;
    width: 100%;
    padding: 0px;
    margin: 0px;
    left: 0px;
    top: 0px;
    float: left;
    z-index: 2;
}

.parallax-section49 .title {
    font-size: 40px;
    font-weight: 500;
    font-family: 'Roboto Slab', serif;
}

.parallax-section49 .title-2 {
    font-size: 20px;
    font-weight: bold;
    color: white;
    font-family: 'Roboto Slab', serif;
}

.ptb45 {
    background: #fff !important;
}

.ptb45 a {
    color: #666;
    cursor: pointer;
    padding-left: 10px;
}

.ptb45 i {
    padding-right: 10px;
}


/*  */

.card1 {
    background: white;
    padding: 10px;
    border-radius: 30px;
    text-align: start;
    font-family: 'fontawesome';
    box-shadow: 0px 0px 0px 0px;
}

.card1 h6 {
    color: #731763;
    padding: 15px;
    font-weight: bold;
}

.card1 a {
    color: #F25835;
}

.card1 p {
    font-size: 12px;
    padding-left: 10px;
}

.post-details {
    color: #F25835;
    font-size: 8px;
}

.card1 .blog-post a i {
    color: #027333;
}

.post-details .date:after {
    content: '|';
    padding: 0 10px;
}

.post-details span i {
    padding-right: 5px;
    color: #027333;
}

.parallax-section50 {
    width: 100%;
    float: left;
    padding: 0;
    margin: 0px;
    text-align: center;
    background: url("assets/images/4.jpg");
    background-attachment: fixed;
    background-origin: initial;
    background-clip: initial;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100% 0;
    background-position: center;
    z-index: 1;
    box-shadow: rgba(0, 0, 0, 0.3);
}

.turismo {
    text-align: left;
}

.turismo p a {
    color: #fff;
}

.turismo p a span {
    font-weight: bold;
    color: #fff;
}

.mont h4,
.mont h5 {
    color: #731763;
    text-align: center;
    font-weight: bold;
}

.mont p span {
    font-weight: bold;
    color: #027333;
    font-size: 15px;
}

.mont p {
    font-size: 12px;
}