<!-- ===== Start of Partners ===== -->
<section class="ptb40 " id="partners">
    <div class="container">

        <!-- Start of Owl Slider -->
        <div class="owl-carousel partners-slider">
            <!-- Partner Logo -->
            <div class="item">
                <a [routerLink]="['/inicio']" routerLinkActive="active"><img src="../../../assets/images/p1.png" alt=""></a>
            </div>

            <!-- Partner Logo -->
            <div class="item">
                <a [routerLink]="['/inicio']" routerLinkActive="active"><img src="../../../assets/images/p2.png" alt=""></a>
            </div>

            <!-- Partner Logo -->
            <div class="item">
                <a [routerLink]="['/inicio']" routerLinkActive="active"><img src="../../../assets/images/p3.png" alt=""></a>
            </div>

            <!-- Partner Logo -->
            <div class="item">
                <a [routerLink]="['/inicio']" routerLinkActive="active"><img src="../../../assets/images/p4.png" alt=""></a>
            </div>

            <!-- Partner Logo -->
            <div class="item">
                <a [routerLink]="['/inicio']" routerLinkActive="active"><img src="../../../assets/images/p5.png" alt=""></a>
            </div>
            <div class="item">
                <a [routerLink]="['/inicio']" routerLinkActive="active"><img src="../../../assets/images/p6.png" alt=""></a>
            </div>
            <div class="item">
                <a [routerLink]="['/inicio']" routerLinkActive="active"><img src="../../../assets/images/p7.png" alt=""></a>
            </div>
            <div class="item">
                <a [routerLink]="['/inicio']" routerLinkActive="active"><img src="../../../assets/images/p8.png" alt=""></a>
            </div>
            <div class="item">
                <a [routerLink]="['/inicio']" routerLinkActive="active"><img src="../../../assets/images/p9.png" alt=""></a>
            </div>
            <div class="item">
                <a [routerLink]="['/inicio']" routerLinkActive="active"><img src="../../../assets/images/p10.png" alt=""></a>
            </div>
            <div class="item">
                <a [routerLink]="['/inicio']" routerLinkActive="active"><img src="../../../assets/images/p11.png" alt=""></a>
            </div>
            <div class="item">
                <a [routerLink]="['/inicio']" routerLinkActive="active"><img src="../../../assets/images/p12.png" alt=""></a>
            </div>

        </div>
        <!-- End of Owl Slider -->

    </div>
</section>
<!-- ===== End of Partners ===== -->



<!-- =============== Start of Footer 1 =============== -->
<footer class="footer1">

    <!-- ===== Start of Footer Information & Links Section ===== -->
    <div class="footer-info ptb80 copyright ptb40">
        <div class="container">

            <!-- 1st Footer Column -->
            <div class="col-md-6 col-sm-6 footer-about">

                <div class="item-holder">
                    <h3>Alcaldia de Montelibano</h3>
                    <p>Dirección: Carrera 6 NO. 15-23 - PALACIO MUNICIPAL - MONTELIBANO CÓRDOBA</p>


                    <p><span>Código Postal: </span> 234001 Área urbana</p>
                    <p><span>Código Postal: </span> 23 4007 Área rural </p>

                    <p><span>Horario de atención:</span> De Lunes a Viernes De 7am - 12m y 2 pm - 5 pm </p>

                </div>

                <div class="col-md-6 col-sm-6 col-xs-12">
                    <!-- Start of Social Media Buttons -->
                    <ul class="social-btns list-inline ">
                        <!-- Social Media -->
                        <li>
                            <a [routerLink]="['/inicio']" routerLinkActive="active" class="social-btn-roll facebook">
                                <div class="social-btn-roll-icons">
                                    <i class="social-btn-roll-icon fa fa-facebook"></i>
                                    <i class="social-btn-roll-icon fa fa-facebook"></i>
                                </div>
                            </a>
                        </li>

                        <!-- Social Media -->
                        <li>
                            <a [routerLink]="['/inicio']" routerLinkActive="active" class="social-btn-roll twitter">
                                <div class="social-btn-roll-icons">
                                    <i class="social-btn-roll-icon fa fa-twitter"></i>
                                    <i class="social-btn-roll-icon fa fa-twitter"></i>
                                </div>
                            </a>
                        </li>

                        <!-- Social Media -->
                        <li>
                            <a [routerLink]="['/inicio']" routerLinkActive="active" class="social-btn-roll google-plus">
                                <div class="social-btn-roll-icons">
                                    <i class="social-btn-roll-icon fa fa-google-plus"></i>
                                    <i class="social-btn-roll-icon fa fa-google-plus"></i>
                                </div>
                            </a>
                        </li>

                        <!-- Social Media -->
                        <li>
                            <a [routerLink]="['/inicio']" routerLinkActive="active" class="social-btn-roll instagram">
                                <div class="social-btn-roll-icons">
                                    <i class="social-btn-roll-icon fa fa-instagram"></i>
                                    <i class="social-btn-roll-icon fa fa-instagram"></i>
                                </div>
                            </a>
                        </li>


                    </ul>
                    <!-- End of Social Media Buttons -->
                </div>

            </div>

            <!-- 2nd Footer Column -->
            <div class="col-md-6 col-sm-6  footer-links">
                <h3>contatos</h3>
                <p style="font-weight: bold;"> Contacto </p>
                <p><i class="fa fa-phone-square " style="padding-right: 10px;"></i> <a style="font-weight: bold;"> Telefono: </a> (57) (54) 7721563 -7627455</p>
                <p> <i class="fa fa-envelope" style="padding-right: 10px;"></i> <a style="font-weight: bold;"> Email: </a>contactenos@montelibano-cordoba.gov.co</p>
                <p><i class="fa fa-pagelines" style="padding-right: 10px;"></i> <a style="font-weight: bold;"> Notificaciones judiciales: </a> oficinajuridica@montelibano-cordoba.gov.co</p>

                <p> <a style="text-decoration-line: underline"> Políticas de seguridad de la información </a></p>
                <p> <a style="text-decoration-line: underline"> Condiciones de uso de la información</a></p>
                <p> <a style="text-decoration-line: underline"> Estadísticas</a></p>
                <p><a style="text-decoration-line: underline">     Transparencia y acceso a la información pública.</a></p>

            </div>



        </div>
    </div>
    <!-- ===== End of Footer Information & Links Section ===== -->
</footer>
<!-- =============== End of Footer 1 =============== -->